[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyphantom = {editable = true, path = "."}

[dev-packages]
"pytest" = "*"
"pcapy-ng" = "*"

[requires]
python_version = "3.11"

[scripts]
test = "py.test -v"
