[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyphantom = {editable = true, path = "."}

[dev-packages]
"pytest" = "*"
"pcapy" = {ref = "bufsize", git = "https://github.com/cbenhagen/pcapy.git"}

[requires]
python_version = "2.7"

[scripts]
test = "py.test -v"
